<div *ngIf="areas.length > 0; else noAreas">
  <div class="m-3 row" *ngFor="let area of areas">
    <h2 class="text-white">{{ area.area.name }}</h2>
    <div *ngFor="let group of area.gThings" class="col-lg-auto row">
      <ng-container *ngFor="let thingGroup of group; let last=last; let first=first" class="col-lg-1">
        <div class="thing-square m-2 d-flex align-items-center justify-content-center position-relative">
          <div class="status" *ngIf="first"></div>
          <app-thing [thing]="thingGroup" class="m-2 ms-0"></app-thing>
          <div class="wrap" *ngIf="!last"></div>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #noAreas>
  <p class="container">No areas available.</p>
</ng-template>