<h2 class="text-white" *ngIf="area">{{ area.name }}</h2>
<div *ngIf="areaGroups$ | async as areaGroups; else loadingOrEmpty">
  <div class="row" *ngIf="areaGroups.gThings.length > 0">
    <ng-container *ngIf="areaGroups$ | async as areaGroups">
      <app-area-group class="col-auto" *ngFor="let group of areaGroups.gThings" [thingGroup]="group"></app-area-group>
    </ng-container>  
  </div>
  <p class="container" *ngIf="!areaGroups.gThings.length">No groups in area.</p>
</div>

<ng-template #loadingOrEmpty>
  <p class="container" *ngIf="!areaGroups$">Loading...</p>
</ng-template>
